    A.	list.append()
    B.	list.clear()
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()
    H.	list.pop()
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

1. Check if a list contains an element
        li = [1,2,3,'a','b','c']

In [ ]:
li = [1,2,3,'a','b','c']
'a' in li

True

How to iterate over 2+ lists at the same time

    name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
    animal = ['Cat', 'Dog', 'Fish', 'Goat']
    age = [1, 2, 2, 6]

In [ ]:
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
age = [1, 2, 2, 6]

list(zip(name, animal, age))

[('Snowball', 'Cat', 1),
 ('Chewy', 'Dog', 2),
 ('Bubbles', 'Fish', 2),
 ('Gruff', 'Goat', 6)]

In [ ]:
zip(name, animal, age)

In [ ]:
for i in list(zip(name, animal, age)):
    print(i)

('Snowball', 'Cat', 1)
('Chewy', 'Dog', 2)
('Bubbles', 'Fish', 2)
('Gruff', 'Goat', 6)

In [ ]:
enumerate(name)

In [ ]:
for i,_ in enumerate(name):
    print(name[i], animal[i],age[i])

Snowball Cat 1
Chewy Dog 2
Bubbles Fish 2
Gruff Goat 6

In [ ]:
for i,_ in enumerate(name):
    print(i)

0
1
2
3

In [ ]:
name, age = ['e',2]

In [ ]:
name

'e'

In [ ]:
age

2

Swap Two Elements in a List

    List = [23, 65, 19, 90]

In [ ]:
my_list = [23, 65, 19, 90]

my_list[0], my_list[2] = my_list[2], my_list[0]
my_list

[19, 65, 23, 90]

Python program to find unique numbers in a given list.

    l1 =[1, 9, 1, 6, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9,8,1,2]

In [ ]:
l1 = [1, 9, 1, 6, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9,8,1,2]

u = []
for i in l1:
    if i not in u:
        u.append(i)
u

[1, 9, 6, 3, 4, 5, 2, 7, 8]

In [ ]:
set(l1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
[i]

Python program to create a list of 15 random integers.

In [ ]:
import random


l1 = []
for i in range(1,15):
    l1.append(random.randint(0,100))
l1

[43, 11, 41, 27, 35, 78, 2, 80, 12, 38, 28, 92, 91, 100]

In [ ]:
[random.randint(0,100) for i in range(1,15)]

[82, 66, 48, 27, 14, 17, 35, 16, 38, 12, 76, 95, 37, 69]

In [ ]:
random.randint(0,100)

37

Python program to find sum of all numbers in a list.

In [ ]:
sum(l1)

679

In [ ]:
s = 0
for i in l1:
    s += i

s

679

Python program to remove all odd numbers from a list.

In [ ]:
result = []
for i in l1:
    if i % 2==0:
        result.append(i)
result

[78, 2, 80, 12, 38, 28, 92, 100]

In [ ]:
[i for i in l1 if i % 2 == 0]

[78, 2, 80, 12, 38, 28, 92, 100]

Python program to sort a list of strings on the number of alphabets in each word.  
    words_list = ['apple', 'banana', 'pear', 'grape', 'kiwi']

In [ ]:
words_list = ['apple', 'banana', 'pear', 'grape', 'kiwi']

sorted(words_list)

['apple', 'banana', 'grape', 'kiwi', 'pear']

In [ ]:
words_list = ['apple', 'banana', 'pear', 'grape', 'kiwi']

sorted(words_list, key = len)

['pear', 'kiwi', 'apple', 'grape', 'banana']

Python program non-numeric items in a list in a separate list.

    original_list = [1, 'apple', 3.14, 'banana', 'orange', 7, 'kiwi', 'grape', 9.8, 'pear', 'melon', 5, 'peach']

In [ ]:
isinstance('apple',float)

False

In [ ]:
original_list = [1, 'apple', 3.14, 'banana', 'orange', 7, 'kiwi', 'grape', 9.8, 'pear', 'melon', 5, 'peach']
result = []
for i in original_list:
    if not isinstance(i,(int, float)):
        result.append(i)
result

['apple', 'banana', 'orange', 'kiwi', 'grape', 'pear', 'melon', 'peach']

In [ ]:
[i for i in original_list if not isinstance(i,(int, float))]

['apple', 'banana', 'orange', 'kiwi', 'grape', 'pear', 'melon', 'peach']

Python program to create a list of integers representing each character in a string

    original_string = "Hello, World! This is a big string with various characters."

In [ ]:
original_string = "Hello, World! This is a big string with various characters."

In [ ]:
ord('a')

97

In [ ]:
result = []
for i in original_string:
    result.append(ord(i))
result

[72,
 101,
 108,
 108,
 111,
 44,
 32,
 87,
 111,
 114,
 108,
 100,
 33,
 32,
 84,
 104,
 105,
 115,
 32,
 105,
 115,
 32,
 97,
 32,
 98,
 105,
 103,
 32,
 115,
 116,
 114,
 105,
 110,
 103,
 32,
 119,
 105,
 116,
 104,
 32,
 118,
 97,
 114,
 105,
 111,
 117,
 115,
 32,
 99,
 104,
 97,
 114,
 97,
 99,
 116,
 101,
 114,
 115,
 46]

In [ ]:
[ord(i) for i in original_string]

[72,
 101,
 108,
 108,
 111,
 44,
 32,
 87,
 111,
 114,
 108,
 100,
 33,
 32,
 84,
 104,
 105,
 115,
 32,
 105,
 115,
 32,
 97,
 32,
 98,
 105,
 103,
 32,
 115,
 116,
 114,
 105,
 110,
 103,
 32,
 119,
 105,
 116,
 104,
 32,
 118,
 97,
 114,
 105,
 111,
 117,
 115,
 32,
 99,
 104,
 97,
 114,
 97,
 99,
 116,
 101,
 114,
 115,
 46]

Python program to find numbers common in two lists.

    list1 = [1, 2, 3, 4, 5]
    list2 = [3, 4, 5, 6, 7]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common = []
for i in list1:
    if i in list2:
        common.append(i)

common

[3, 4, 5]

In [ ]:
[i for i in list1 if i in list2]

[3, 4, 5]

In [ ]:
set(list1).intersection(list2)

{3, 4, 5}

In [ ]:
r = []
for i in list1:
    for j in list2:
        if i == j and i not in r:
            r.append(i)

In [ ]:
r

[3, 4, 5]

Problem Statement: Students Record Management

You are tasked with creating a program to manage students' records in a school system. Implement a system that allows administrators to perform various operations on a list of student records, including adding new students, updating information, deleting students, and displaying the list of students.

Your program should include the following functionalities using list functions and methods:

    Add Students:
        Allow administrators to add new students to the system. Each student record should contain their name, age, and grade. Store these records in a list.

    Update Student Information:
        Provide an option to update a student's information based on their name. Administrators should be able to update the age or grade of a student.

    Delete Student Record:
        Enable administrators to delete a student record based on the student's name.

    Display Students Records:
        Display the list of all student records with their names, ages, and grades.

    Sort Students Records:
        Implement a function to sort the student records alphabetically based on their names or based on their grades.

    Search for a Student:
        Implement a function to search for a student based on their name and display their information.

Your program should showcase the usage of list functions such as append(), extend(), remove(), index(), sort(), pop(), count(), and other relevant list methods to accomplish the above functionalities.
Example Usage:

Your program should provide a menu-driven interface where administrators can select options like add, update, delete, display, sort, and search for students. It should interactively guide users through managing and manipulating the list of student records using various list functions and methods.

In [ ]:
n = []
for i in range(1,11):
    n.append(i)
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
m = [i for i in range(1,11)]
m

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
n = []
for i in range(1,21):
    if i %2 == 0:
        n.append(i)
n

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
m = [ i for i in range(1,21) if i%2 ==0]
m

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

List contains square of all odd numbers from range 1 to 20

In [ ]:
n = []
for i in range(1,21):
    if i %2 != 0:
        n.append(i ** 2)
n

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

if in case the value is not an even number print atext not even

In [ ]:
m = [i ** 2 if i %2 ==0 else 'Not Even' for i in range(1,21)]
m

['Not Even',
 4,
 'Not Even',
 16,
 'Not Even',
 36,
 'Not Even',
 64,
 'Not Even',
 100,
 'Not Even',
 144,
 'Not Even',
 196,
 'Not Even',
 256,
 'Not Even',
 324,
 'Not Even',
 400]

In [ ]:
ages = [15, 30, 45, 80, 105, 20]
r = []
for age in ages:
    if age >25:
        if age > 60:
            r.append((age,'Too old'))
        else:
            r.append((age,'Right age'))
    else:
        r.append((age,'Too young'))

In [ ]:
r

[(15, 'Too young'),
 (30, 'Right age'),
 (45, 'Right age'),
 (80, 'Too old'),
 (105, 'Too old'),
 (20, 'Too young')]

In [ ]:
result = [(age, 'Too Old' if age > 60 else 'Right age' if age >25 else 'Too Young') for age in ages]
result

[(15, 'Too Young'),
 (30, 'Right age'),
 (45, 'Right age'),
 (80, 'Too Old'),
 (105, 'Too Old'),
 (20, 'Too Young')]

In [ ]:
list1 = [1, 2, 3]
list2 = [10, 20, 30]

result = []
for i in list1:
    for j in list2:
        result.append(i * j)
result

[10, 20, 30, 20, 40, 60, 30, 60, 90]

In [ ]:
result = [i * j for i in list1 for j in list2]
result

[10, 20, 30, 20, 40, 60, 30, 60, 90]

In [ ]:
rows = 5
pattern = ''
for i in range(1, rows + 1):
    row = ''
    for j in range(1, i + 1):
        row += str(j) + ' '
    pattern +=row.strip() + '\n'
print(pattern)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
rows = 5
for i in range(1, rows +1):
    for j in range(1, i +1):
        print(j, end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

rows = 5
pattern = ''
for i in range(1, rows +1):
    for j in range(1, i +1):
        pattern += j + ' '
    print()
pattern

In [ ]:
pattern = '\n'.join(' '.join(str(j) for j in range(1,i +1)) for i in range(1, rows + 1))
print(pattern)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
t = tuple (n)
t

(1, 9, 25, 49, 81, 121, 169, 225, 289, 361)

In [ ]:
t * 4

(1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361)

In [ ]:
t + t

(1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361)

In [ ]:
80 in t

False

In [ ]:
81 in t

True

In [ ]:
for i in t:
    print(i)

1
9
25
49
81
121
169
225
289
361

In [ ]:
t.remove(1)

AttributeError: ignored

In [ ]:
t.clear()

AttributeError: ignored

In [ ]:
t.pop(0)

AttributeError: ignored

In [ ]:
num, greet, pi, b = (1, 'hello', 3.14, True)

In [ ]:
num

1

In [ ]:
b

True

In [ ]:
sorted(t)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
list1.sort()

In [ ]:
list1

[1, 2, 3]

In [ ]:
t[0]

1

In [ ]:
t[1]

9

In [ ]:
for i in range(len(t)):
    print(t[i])

1
9
25
49
81
121
169
225
289
361

In [ ]:
vowels_tuple = ('a','e','i','o','s','u')
vowels_tuple.index('s')

4

In [ ]:
vowels_tuple[4] = '0'

TypeError: ignored

In [ ]:
vowel_list = list(vowels_tuple)
vowel_list.remove('s')
vowel_tuple = tuple(vowel_list)
vowel_tuple

('a', 'e', 'i', 'o', 'u')

In [ ]:
t[3:7]

(49, 81, 121, 169)

In [ ]:
t[::-1]

(361, 289, 225, 169, 121, 81, 49, 25, 9, 1)

Write a Python program to unzip a list of tuples into individual lists

In [ ]:
list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
list(zip(*list_of_tuples))

[(1, 2, 3), ('a', 'b', 'c')]

In [ ]:
for i in list(zip(*list_of_tuples)):
    print(list(i))

[1, 2, 3]
['a', 'b', 'c']

Find the common elements between two tuples.

In [ ]:
tup1 = (1, 2, 3, 4)
tup2 = (3, 4, 5, 6)

for i in tup1:
    if i in tup2:
        print(i)

3
4